@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  background-image: url("/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}

/***** Global CSS *****/

.movingRight {
  rotate: 270deg;
  animation: moveRight 0.4s linear infinite alternate;
  -webkit-animation: moveRight 0.4s linear infinite alternate;
}

.zoomIn {
  animation: zoomIn 0.8s linear infinite alternate;
  -webkit-animation: zoomIn 0.8s linear infinite alternate;
}

.hide-ScrollBar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.custom-button {
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  border-radius: 4rem;
  -webkit-border-radius: 4rem;
  -moz-border-radius: 4rem;
  -ms-border-radius: 4rem;
  -o-border-radius: 4rem;
  color: #fff;
  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    inset: 0;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 4rem;
    -webkit-border-radius: 4rem;
    -moz-border-radius: 4rem;
    -ms-border-radius: 4rem;
    -o-border-radius: 4rem;
    background-size: 200%;
    transition: 0.3s ease-in;
    -webkit-transition: 0.3s ease-in;
    -moz-transition: 0.3s ease-in;
    -ms-transition: 0.3s ease-in;
    -o-transition: 0.3s ease-in;
  }

  &:hover::after {
    background-position: 100% 0;
  }
}

.custom-shadow {
  box-shadow: rgba(255, 1, 77, 0.5) 0px 0px 100px -40px inset,
    rgba(0, 207, 243, 0.527) 0px 5px 60px -30px inset,
    rgb(183, 0, 255) 0px -2px 6px 0px inset;
}

.custom-shadow3 {
  box-shadow: rgb(255, 1, 77) 0px 0px 60px -80px inset,
    rgba(0, 207, 243, 0.527) 0px 0px 60px -30px inset,
    rgb(140, 0, 255) 0px 0px 6px 0px inset;
}

.custom-shadow2 {
  box-shadow: rgba(10, 10, 97, 0.884) 0px 50px 100px -20px,
    rgba(78, 20, 20, 0.801) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.952) 0px -2px 6px 0px inset;
}

.active {
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  font-weight: bold;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  position: relative;

  &::before {
    content: "";
    height: 1px;
    width: 100%;
    position: absolute;
    background: linear-gradient(45deg, #f06, #3cf);
    bottom: -6px;
    left: 0;
  }
}

.highLight-text {
  background: linear-gradient(rgb(255, 0, 102), #3cf);
  font-weight: 700;
  padding-bottom: 3px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

/***** End Global CSS *****/

/***** Navbar Section *****/

.navlinks {
  position: relative;

  &::after {
    content: "";
    height: 2px;
    width: 100%;
    position: absolute;
    background: linear-gradient(45deg, #f06, #3cf);
    left: 0;
    bottom: -6px;
    translate: -100%;
    opacity: 0;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }

  &:hover::after {
    translate: 0%;
    opacity: 1;
  }
}

/***** End Navbar Section *****/

/***** Profile Section *****/

.profileImageContainer {
  box-shadow: #f06 5px 7px 16px 0px,
    rgba(36, 200, 255, 0.747) -5px -7px 16px 0px;
}

/***** End Profile Section *****/

/***** Experience Section *****/

.timeline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 1.8%;
    bottom: 0;
    left: 0.7%;
    width: 4px;
    height: 100%;
    background: linear-gradient(45deg, #f06, #3cf, #f06);
    z-index: -1;
    border-radius: 5rem;
    -webkit-border-radius: 5rem;
    -moz-border-radius: 5rem;
    -ms-border-radius: 5rem;
    -o-border-radius: 5rem;
  }

  .experienceBox {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: 0%;
      left: -6.5%;
      width: 1.6rem;
      height: 1.6rem;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: #f06;
      z-index: 1;
    }
  }
}

/***** End Experience Section *****/

/***** scrollbar Section *****/

/* width */
::-webkit-scrollbar {
  width: 0.5rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #a3a3a3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: linear-gradient(#eb1d6f, #10baf3);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #2c2c2c;
}

/***** End scrollbar Section *****/

/***** Animation Section *****/

@keyframes moveRight {
  0% {
    transform: translateY(-5px);
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    -o-transform: translateY(-5px);
  }

  100% {
    transform: translateY(2px);
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
  }
}

@keyframes zoomIn {
  0% {
    scale: 0.9;
  }
  100% {
    scale: 1;
  }
}

/***** End Animation Section *****/
