@media screen and (width < 768px) {
  /***** Experience Section *****/

  .timeline {
    &::after {
      display: none;
    }

    .experienceBox {
      position: relative;

      &::after {
        display: none;
      }
    }
  }

  /***** End Experience Section *****/
}
